<%= link_to @url, class: 'hover-bg-blue-600', style: 'display: inline-block; background-color: #3b82f6; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; margin-bottom: 4px; text-align: center; font-size: 16px; font-weight: 600; text-transform: uppercase; color: #ffffff; text-decoration: none;' do %>
  <!--[if mso
    ]><i
      style="
        letter-spacing: 24px;
        mso-font-width: -100%;
        mso-text-raise: 30px;
      "
      >&#8202;</i><!
  [endif]-->
  <span style="mso-text-raise: 16px"><%= @text %></span>
  <!--[if mso
    ]><i style="letter-spacing: 24px; mso-font-width: -100%">&#8202;</i><!
  [endif]-->
<% end %>
