<%= title 'Dashboard' %>
<<<<<<< HEAD
<div class = "flex flex-wrap" > 
  <%= dashboard_action title: 'Add a product' , url: '#' , image: 'dashboard/learn.png', description: 'add a list' , icon: 'campfire.svg', index: 0 %> 
  <%= dashboard_action title: 'Add a product' , url: '#' , image: 'dashboard/loud.png', description: 'add a list' , icon: 'campfire.svg', index: 1 %> 
  <%= dashboard_action title: 'Add a product' , url: '#' , image: 'dashboard/card.png', description: 'add a list' , icon: 'campfire.svg', index: 2 %> 
</div>
=======

<div class="flex flex-wrap">



</div>


<div class='flex flex-wrap '>
 
</div>

  


<div class="flex flex-col xl:flex-row xl:space-x-6 space-y-6 xl:space-y-0 mt-6">
</div>
>>>>>>> origin/main
