<%= title 'Dashboard' %>
<div class = "flex flex-wrap" > 
  <%= dashboard_action title: 'Add a product' , url: '#' , image: 'dashboard/learn.png', description: 'add a list' , icon: 'campfire.svg', index: 0 %> 
  <%= dashboard_action title: 'Add a product' , url: '#' , image: 'dashboard/loud.png', description: 'add a list' , icon: 'campfire.svg', index: 1 %> 
  <%= dashboard_action title: 'Add a product' , url: '#' , image: 'dashboard/card.png', description: 'add a list' , icon: 'campfire.svg', index: 2 %> 
</div>