<%= mailer_title title: "OC #{@list.core_shipment_id} was just shipped in VIA!" %>

<p style="margin: 0; margin-bottom: 24px;">
  OC <%= @list.core_shipment_id %> was just shipped in VIA, click
  <%= link_to 'here', set_password_url(token: @user.reset_password_token) %>
  to set up your account and download your data.
</p>
